doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='/js/app.js')
    script(src='/bower_components/socket.io-client/socket.io.js')
  body
    h1 HELLO - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
    script.
      var indexSocket = io.connect("http://localhost:4010", {
        reconnect: false
        });    

      indexSocket
          .on('message', function(message) {
            console.log(message);
          })
          .on('connect', function() {
            console.log("соединение indexSocket установлено");
          })
          .on('disconnect', function() {
            console.log("соединение indexSocket потеряно");
            setTimeout(reconnect, 500);
          });

      var messageSocket = io.connect("http://localhost:4020", {
        reconnect: false
        });    

      messageSocket
      .on('message.created', function (message) {
          console.log(message);
       })
      .on('posts.created', function (post) {
          console.log(post);
       })
      .on('posts.comments.created', function (comment) {
          console.log(comment);
       })
      .on('connect', function() {
        console.log("соединение messageSocket установлено");
      })
      .on('disconnect', function() {
        console.log("соединение messageSocket потеряно");
        setTimeout(reconnect, 500);
      });

      function reconnect() {
        indexSocket.once('error', function() {
          setTimeout(reconnect, 500);
        });
        indexSocket.socket.connect();
      }    